# local .terraform directories
.terraform/
# .tfstate files
*.tfstate
# .tfvars files 
*.tfvars
# .tfplan files
*.tfplan
# ignore any backup files
*.tfstate
*.tfstate.backup
# ignore any lock files 
.terraform.lock.hcl
# ignore.pem files
*.pem
# ignore any backend files
backend_local.tf
